:root {
  --header-height: 50px;
  --island-spacing: 4px;
  --island-padding: 6px 10px;
  --island-background: light-dark(white, oklch(from var(--app-bg) calc(l * 1.5) c h));
  --app-bg: light-dark(oklch(0.92 0.005 -90), oklch(0.3 0.04 -90));
  --theme-color: light-dark(oklch(0.45 0.2 180), oklch(0.6 0.2 180));
  --theme-color-hover: oklch(from var(--theme-color) calc(l * 1.2) c h);
  --theme-color-active: oklch(from var(--theme-color) calc(l * 0.7) c h);
  --muted-text-color: light-dark(rgb(from black r g b / 0.6), rgb(from white r g b / 0.6));
  --code-output-text: light-dark(
    oklch(from var(--theme-color) 0.5 0.15 h),
    oklch(from var(--theme-color) 0.9 0.07 h)
  );
  --focus-ring-color: light-dark(
    rgb(from var(--theme-color) r g b / 0.4),
    oklch(from var(--theme-color) calc(l * 1.1) c h / 0.6)
  );
  --focus-outline-width: 3px;
  --focus-outline: var(--focus-outline-width) solid var(--focus-ring-color);
  --focus-outline-offset: calc(var(--focus-outline-width) * -1);

  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: Inter, sans-serif;
  font-size: 18px;
  background: var(--app-bg);
}

h1 {
  flex: 1 0 auto;
  padding: var(--island-padding);
  font-size: 18px;
  font-weight: normal;
  color: white;
}

textarea {
  outline: none;
  resize: none;
  border: none;
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  padding: var(--island-padding);
  tab-size: 4;
  background: var(--island-background);
  border-radius: 6px;

  @supports (corner-shape: squircle) {
    border-radius: 10px;
    corner-shape: squircle;
  }

  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}

#code-output {
  color: var(--code-output-text);
}

.tnum {
  font-feature-settings: 'tnum';
}
