@scope (.statusbar) {
  :scope {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 16px;
    background: var(--island-background);
    padding: var(--island-padding);
    font-size: 14px;
    border-radius: 6px;

    @supports (corner-shape: squircle) {
      border-radius: 10px;
      corner-shape: squircle;
    }
  }

  .section {
    display: flex;
    gap: 16px;
  }

  .right {
    margin-inline-start: auto;
  }
}
